<div class="details">
    <form>
        <mat-form-field>
            <mat-label>Method</mat-label>
            <input matInput [value]="data.method" readonly="true">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Publish URL</mat-label>
            <input matInput [value]="data.publishurl" readonly="true">
        </mat-form-field>
        <mat-form-field>
            <mat-label>User name</mat-label>
            <input matInput [value]="data.username" readonly="true">
        </mat-form-field>
        <mat-form-field>
            <mat-label>User name</mat-label>
            <input matInput [value]="data.userpwd" readonly="true">
        </mat-form-field>
    </form>
</div>
